.hola{
    background-color: darkcyan;
    color: black;
    margin-top:50px;
}
.footer {
    background-color: cadetblue;
}
.card-product {
    flex: 1 200px;
    border-radius:10px;
    padding: 2px 0px 2px 0px ;
    margin-top: 10px;
    margin-left: 5px;
  
    border-color: darkcyan;
}

.link-footer{
text-decoration: none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: silver;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}
.close {
    border:transparent;
    background: transparent;
}
.carousel-inner {
    padding: 5px;
}