.jumbotron {
  background-color: darkcyan;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
.footer {
  background-color: darkcyan;
}
.card-product {
  flex: 1 200px;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
  border-color: darkcyan;
}
.link-footer {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: silver;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.close {
  border: transparent;
  background: transparent;
}
.carousel-inner {
  padding: 5px;
}
