@fondos: darkcyan;
@letraF: silver;
@letraJ: black;

.margenes(@top: 0px, @bottom: 0px,@left: 0px,@right: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    margin-left: @left;
    margin-right: @right;
}

.paddings(@top: 0px, @bottom: 0px, @left: 0px, @right: 0px) {
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}
.jumbotron{
    background-color: @fondos ;
    color: @letraJ;
    .margenes(50px);
    .paddings(20px,20px);
}
.footer {
    background-color: @fondos;
}
.card-product {
    flex: 1 200px;
    border-radius:10px;
    .paddings(2px,0px,2px);
    .margenes(10px,0px,5px);
    border-color: @fondos;
}

.link-footer{
text-decoration: none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: @letraF;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}
.close {
    border:transparent;
    background: transparent;
}
.carousel-inner {
    padding: 5px;
}