$fondos:darkcyan;
$letraF: silver;
$letraJ: black;
$v1:yellow;
$v2:red;
$v3:green;
@mixin margenes($top, $bottom, $left, $right) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

@mixin paddings($top, $bottom, $left, $right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}
.jumbotron{
    background-color: $fondos ;
    color: $letraJ;
    @include margenes(50px,0px,0px,0px);
    @include paddings(20px,20px,0px,0px);
}
.footer {
    background-color: $fondos;
}
.card-product {
    flex: 1 200px;
    border-radius:10px;
    padding: 2px 0px 2px 0px ;
    @include margenes(10px,0px,5px,0px);
    border-color: $fondos;
}

.link-footer{
text-decoration: none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: $letraF;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}
.close {
    border:transparent;
    background: transparent;
}
.carousel-inner {
    padding: 5px;
}